body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	float: right;
}

.postcard-header h1 {
	margin-right: 250px;
	font-family: "Delius Swash Caps";
	font-size: larger;
}

.postcard-body {
	display: flex;
	padding: 5px;
	font-family: "Delius Swash Caps";
}
.body-left p:first-child {
	margin-top: 0;
}

input {
	border-bottom: grey;
	border-style: dotted;
	margin-top: 10px;
}
.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding-top: 5px;
	margin: 10px;
	font-family: "Delius Swash Caps";
}

p {
	font-family: "Delius Swash Caps";
	font-size: small;
}
